@import "tailwindcss";


/* Hide scrollbar but keep scrolling working */

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}